<ion-header mode="ios">
  <ion-toolbar>
    <div class="deliveryAddress">
      <img src="assets/pin.png" alt="" class="pin" (click)="changeLocation()" />
      <p class="address" (click)="changeLocation()">
        {{locationName | slice:0:25}}
      </p>
      <div
        class="userPhoto"
        [style.backgroundImage]="'url('+ profile +')'"
        *ngIf="profile"
      ></div>
      <div
        class="userPhoto"
        [style.backgroundImage]="'url(assets/user.png)'"
        *ngIf="!profile"
      ></div>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-list lines="none">
    <ion-item lines="none">
      <ion-input
        type="email"
        placeholder="Email"
        name="email"
        spellcheck="false"
        autocapitalize="off"
        required
      >
      </ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-input
        name="password"
        placeholder="password"
        type="password"
        required
      >
      </ion-input>
    </ion-item>
  </ion-list>
</ion-content>
