.main_content_div {
  padding: 16px;
}

.more-btn {
  --background: var(--ion-color-primary);
  --border-radius: 5px;
  font-weight: 600;
}

.prev_btn {
  --background: var(--ion-color-warning);
  --border-radius: 5px;
  font-weight: 600;
}

.sub_btn {
  --background: var(--ion-color-success);
  --border-radius: 5px;
  font-weight: 600;
}

.adv_btn {
  --background: var(--ion-color-medium);
  --border-radius: 5px;
  font-weight: 600;
}

.addressDetails {
  display: flex;
  justify-content: space-between;
  padding: 20px 10px 10px 10px;
  .location {
    font-size: 1.4rem;
    margin: 0px;
    color: #fff;
  }
}
.menu {
  height: 20px;
  width: 18px;
}
.profile {
  height: 30px;
  width: 30px;
}

.advanced {
  display: none;
}
