<ion-header id="mainHeader" header>
  <ion-toolbar>
    <div class="addressDetails">
      <img src="assets/pin.png" alt="" class="pin" (click)="changeLocation()" />
      <p class="location" (click)="changeLocation()">
        {{ locationName | slice: 0:25 }}
      </p>
      <div
        class="userPhoto"
        [style.backgroundImage]="'url(' + profile + ')'"
        *ngIf="profile"
      ></div>
      <div
        class="userPhoto"
        [style.backgroundImage]="'url(assets/user.png)'"
        *ngIf="!profile"
      ></div>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content [scrollEvents]="true" (ionScroll)="onScroll($event)">
  <div class="div_searchbar">
    <ion-searchbar
      animated="true"
      mode="ios"
      placeholder="Search Users"
      (ionChange)="onSearchChange($event)"
      [debounce]="250"
      class="search_bar"
    ></ion-searchbar>
  </div>
  <ion-list lines="none">
    <ion-list-header> Online </ion-list-header>

    <ion-item *ngFor="let users of allOnlineUsers">
      <ion-avatar slot="start" *ngIf="users.cover">
        <img src="{{users.cover}}" />
      </ion-avatar>
      <ion-avatar slot="start" *ngIf="!users.cover">
        <img src="assets/user.png" />
      </ion-avatar>
      <ion-label>
        <h2>{{ users.firstname }} {{ users.surname }}</h2>
        <h3>{{ users.location }}</h3>
        <p>{{ users.loginTime.toDate() | date: 'dd MMM hh:mm' }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list lines="none">
    <ion-list-header> Offline </ion-list-header>

    <ion-item *ngFor="let users of allOfflineUsers">
      <ion-avatar slot="start" *ngIf="users.cover">
        <img src="{{users.cover}}" />
      </ion-avatar>
      <ion-avatar slot="start" *ngIf="!users.cover">
        <img src="assets/user.png" />
      </ion-avatar>
      <ion-label>
        <h2>{{ users.firstname }} {{ users.surname }}</h2>
        <h3>{{ users.location }}</h3>
        <p>{{ users.loginTime.toDate() | date: 'dd MMM hh:mm' }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list lines="none">
    <ion-list-header> On Leave </ion-list-header>

    <ion-item *ngFor="let users of allOnLeaveUsers">
      <ion-avatar slot="start" *ngIf="users.cover">
        <img src="{{users.cover}}" />
      </ion-avatar>
      <ion-avatar slot="start" *ngIf="!users.cover">
        <img src="assets/user.png" />
      </ion-avatar>
      <ion-label>
        <h2>{{ users.firstname }} {{ users.surname }}</h2>
        <h3>{{ users.location }}</h3>
        <p>{{ users.loginTime.toDate() | date: 'dd MMM hh:mm' }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list lines="none">
    <ion-list-header> Other </ion-list-header>

    <ion-item *ngFor="let users of allOtherUsers">
      <ion-avatar slot="start" *ngIf="users.cover">
        <img src="{{users.cover}}" />
      </ion-avatar>
      <ion-avatar slot="start" *ngIf="!users.cover">
        <img src="assets/user.png" />
      </ion-avatar>
      <ion-label>
        <h2>{{ users.firstname }} {{ users.surname }}</h2>
        <h3>{{ users.location }}</h3>
        <p>{{ users.loginTime.toDate() | date: 'dd MMM hh:mm' }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
