<ion-header mode="ios">
  <ion-toolbar>
    <div class="deliveryAddress">
      <img src="assets/pin.png" alt="" class="pin" (click)="changeLocation()" />
      <p class="address" (click)="changeLocation()">
        {{locationName | slice:0:25}}
      </p>
      <div
        class="userPhoto"
        [style.backgroundImage]="'url('+ profile +')'"
        *ngIf="profile"
      ></div>
      <div
        class="userPhoto"
        [style.backgroundImage]="'url(assets/user.png)'"
        *ngIf="!profile"
      ></div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" (ionScroll)="onScroll($event)">
  <div class="div_searchbar">
    <ion-searchbar
      animated="true"
      mode="ios"
      placeholder="Search Users"
      (ionChange)="onSearchChange($event)"
      [debounce]="250"
      class="search_bar"
    ></ion-searchbar>
  </div>
  <ion-list>
    <ion-list-header> Online </ion-list-header>

    <ion-item *ngFor="let users of allOnlineUsers">
      <ion-avatar slot="start">
        <img src="{{users.cover}}" />
      </ion-avatar>
      <ion-label>
        <h2>{{ users.firstname }} {{ users.surname }}</h2>
        <h3>{{ users.position }}</h3>
        <p>{{ users.location }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header> Offline </ion-list-header>

    <ion-item *ngFor="let users of allOfflineUsers">
      <ion-avatar slot="start">
        <img src="{{users.cover}}" />
      </ion-avatar>
      <ion-label>
        <h2>{{ users.firstname }} {{ users.surname }}</h2>
        <h3>{{ users.position }}</h3>
        <p>{{ users.location }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header> On Leave </ion-list-header>

    <ion-item *ngFor="let users of allOnLeaveUsers">
      <ion-avatar slot="start">
        <img src="{{users.cover}}" />
      </ion-avatar>
      <ion-label>
        <h2>{{ users.firstname }} {{ users.surname }}</h2>
        <h3>{{ users.position }}</h3>
        <p>{{ users.location }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header> Other </ion-list-header>

    <ion-item *ngFor="let users of allOtherUsers">
      <ion-avatar slot="start">
        <img src="{{users.cover}}" />
      </ion-avatar>
      <ion-label>
        <h2>{{ users.firstname }} {{ users.surname }}</h2>
        <h3>{{ users.position }}</h3>
        <p>{{ users.location }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- <ion-list>
    <ion-list-header> Offline </ion-list-header>

    <ion-item *ngFor="let users of allUsers">
      <ion-avatar slot="start">
        <img src="{{users.cover}}" />
      </ion-avatar>
      <ion-label>
        <h2>Poe</h2>
        <h3>New Ride</h3>
        <p>I just upgraded my X-Wing. Next time...</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header> On Leave </ion-list-header>

    <ion-item *ngFor="let users of allUsers">
      <ion-avatar slot="start">
        <img src="{{users.cover}}" />
      </ion-avatar>
      <ion-label>
        <h2>Poe</h2>
        <h3>New Ride</h3>
        <p>I just upgraded my X-Wing. Next time...</p>
      </ion-label>
    </ion-item>
  </ion-list> -->

  <!-- <ion-list>
    <ion-list-header> Other </ion-list-header>

    <ion-item>
      <ion-avatar slot="start">
        <img src="./avatar-poe.png" />
      </ion-avatar>
      <ion-label>
        <h2>Poe</h2>
        <h3>New Ride</h3>
        <p>I just upgraded my X-Wing. Next time...</p>
      </ion-label>
    </ion-item>
  </ion-list> -->
</ion-content>
