.div_searchbar {
  display: flex;
  flex-direction: row;
  align-items: ceter;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;

  .search_bar {
    padding: 0px;
    width: 100%;
  }
}
.addressDetails {
  display: flex;
  justify-content: space-between;
  padding: 20px 10px 10px 10px;
  .location {
    font-size: 1.4rem;
    margin: 0px;
    color: #fff;
  }
}
.menu {
  height: 20px;
  width: 18px;
}
.profile {
  height: 30px;
  width: 30px;
}
