<ion-header mode="ios">
  <ion-toolbar>
    <div class="deliveryAddress">
      <img src="assets/pin.png" alt="" class="pin" (click)="changeLocation()" />
      <p class="address" (click)="changeLocation()">
        {{locationName | slice:0:25}}
      </p>
      <div
        class="userPhoto"
        [style.backgroundImage]="'url('+ profile +')'"
        *ngIf="profile"
      ></div>
      <div
        class="userPhoto"
        [style.backgroundImage]="'url(assets/user.png)'"
        *ngIf="!profile"
      ></div>
    </div>
    <div class="div_searchbar">
      <ion-searchbar
        animated="true"
        mode="ios"
        placeholder="Search Users"
        (ionChange)="onSearchChange($event)"
        [debounce]="250"
        class="search_bar"
      ></ion-searchbar>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" (ionScroll)="onScroll($event)">
  <div class="main_content_div">
    <div class="noData" *ngIf="!allUsers?.length"></div>
    <p style="font-weight: bold; text-align: center" *ngIf="!allUsers?.length">
      No Users Found!
    </p>
    <div class="card_div">
      <ion-row
        [className]="users && users.status =='close' ? 'cardClosed ion-no-padding':'card ion-no-padding'"
        *ngFor="let users of allUsers"
      >
        <ion-col size="4">
          <div
            class="image_div"
            (click)="viewUserProfile(users)"
            [style.backgroundImage]="'url('+users.cover+')'"
          ></div>
        </ion-col>
        <ion-col size="8">
          <div class="desc_div" (click)="viewUserProfile(users)">
            <ion-label class="heading_lbl"
              >{{ users.firstname }} {{ users.surname }}</ion-label
            >
            <ion-label class="small_lbl">{{ users.position }}</ion-label>
            <ion-label class="small_lbl">{{ users.loginStatus }}</ion-label>
          </div>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>
