<ion-content>
  <div class="main_content_div">
    <div
      class="back_image"
      [style.backgroundImage]="'url(assets/imgs/3en.png)'"
    ></div>

    <div class="lower_div">
      <img
        class="white_div"
        [src]="profilePic"
        alt=""
        (click)="cover()"
        onError="this.src='assets/user.png'"
      />
      <div class="line_div"></div>

      <div class="form_div">
        <ion-item class="ion-no-padding">
          <ion-label position="floating">First Name</ion-label>
          <ion-input type="text" [(ngModel)]="name"></ion-input>
        </ion-item>

        <ion-item class="ion-no-padding">
          <ion-label position="floating">Surname</ion-label>
          <ion-input type="text" [(ngModel)]="surname"></ion-input>
        </ion-item>

        <ion-item class="ion-no-padding">
          <ion-label position="floating">Position</ion-label>
          <ion-input type="text" [(ngModel)]="position"></ion-input>
        </ion-item>

        <ion-item class="ion-no-padding">
          <ion-label position="floating">Phone Number</ion-label>
          <ion-input type="number" [(ngModel)]="phone"></ion-input>
        </ion-item>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button (click)="update()" expand="block" class="sub_btn">
      Save Profile
    </ion-button>
  </ion-toolbar>
</ion-footer>
